
.logo_text{
    font-size: 1.8rem;
}

.hamburger{
    cursor: pointer;
    width:2.7rem;
    height: 2.7rem;
    font-size: 1.8rem;
    display: flex;

    @media(min-width:868px){
        & {
            display: none;
        }
    }

    & > *{
        display: none;
    }

    & > .active{
        display: block;
    }
}
