

nav{
    position: absolute;
    top: 7rem;
    left: -70%;
    width: 100%;
    padding: 4rem 2rem;
    opacity: 0;
    transition: left 300ms ease-in-out ;
    z-index: -10;
    pointer-events: none;
}

.open{
    left: 0;
    opacity: 1;
    z-index: 1;
    pointer-events: all;
}