.card_layout {
    flex-wrap: wrap;
    gap: 2rem;
    
    .card {
      width: 100%;
    background: white;
    padding: 3rem 2rem;

    & > div:first-child {
      border-bottom: 1px solid #d3d3d38a;
      padding-bottom: 1.5rem;

      .card_heading {
        font-size: 1.5rem;
        font-weight: 500;
      }
    }
  }
}
